.news-panel {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 60%;
    min-width: 60%;
    word-wrap: break-word;
    height: 500px;
}

.no-article-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.img {
    max-height: 400px;
    max-width: 100%;
    display:block;
    margin:auto;
}

.desc {
    margin-top: 3%;
    margin-bottom: 3%;
}

.parent {
    position: relative;
    width: 100%;
    padding-bottom: 3%;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

.left {
    position: absolute;
    top: 0px;
    right:85%;
    display: inline-block;
}


